<!doctype html>
<html>
<head>
  <title>Quoridor</title>
  <script src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='hover.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='game.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='button.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <h1>Home Page!</h1>
  {% block winmessage %}{% endblock winmessage %}
  <table>
  <tr>
  <td><div class="left"> {% block leftblock %}{% endblock leftblock %} </div></td>
  <td><div class="right"> {% block rightblock %}{% endblock rightblock %} </div></td>
  </tr>
  </table>
</body>
</html>