{% extends 'base.html' %}

{% block  winmessage%}
{% if winner == 0%}
Player 1 won
{% elif winner == 1%}
Player 2 won
{% endif %}
{% endblock  winmessage%}


{% block leftblock %}
<table>
  <tr><td><div class="player2info"> {% block player2 %}{% endblock player2 %} 
  </div></td></tr>
  <tr><td><div class="board"> {% block table %}{% endblock table %} 
  </div></td></tr>
  <tr><td><div class="player1info"> {% block player1 %}{% endblock player1 %} 
  </div></td></tr>
</table>
{% endblock leftblock %}



{% block rightblock %}
<table>
  <!-- 

  --> 
  <tr><td class="Button Clickable"> <a href="/reset">reset game
  </a></td></tr>
  <tr><td class="Button {{clickables[0]}}"> <a {{buttonhrefs[0]}}>undo move
  </a></td></tr>
  <tr><td class="Button {{clickables[1]}}"> <a {{buttonhrefs[1]}}>redo move
  </a></td></tr>
  <tr><td class="Button Unclickable"><a href="/random">randomize game
  </a></td></tr>
  <tr><td class="Button Unclickable"><a href="/togglehelp">toggle help
  </a></td></tr>
  <tr><td class="Button Unclickable"><a href="/togglep1">toggle AI P1
  </a></td></tr>
  <tr><td class="Button Unclickable"><a href="/togglep2">toggle AI P2
  </a></td></tr>
  <tr><td class="Button Clickable"><a href="/random">randomize game
  </a></td></tr>
  <tr><td class="Button Clickable"> 
    <a a href="javascript:;" 
    onclick="this.href='\load?log=' + document.getElementById('ta_log').value">
    load move
    </a>
  </td></tr>
  <tr><td class="Text Log" > 
    <textarea id="ta_log" rows="15" cols="15">{{log_text}}
    </textarea>
  </td></tr>
</table>
{% endblock rightblock %}
